
@import "tailwindcss";


:root {

  --background: #08111f;
  --foreground: #f8fafc;

}


html {

  scroll-behavior: smooth;

}


body {

  background:
    radial-gradient(
      circle at top left,
      rgba(37,99,235,0.18),
      transparent 35%
    ),
    #08111f;

  color: var(--foreground);

}


section {

  scroll-margin-top: 90px;

}



a:focus {

  outline: none;

}